attr
clip
ConfigParser
contextlib2
cryptography
Cython
deepface
dl
docutils
fastapi
filelock
firebase_admin
gensim
geocoder
HTMLParser
ipython
ipywidgets
Jinja2
jnius
keyring
mock
numpy
openai
opencv_python
Pillow
Pillow
pinecone
protobuf
pydantic
pyOpenSSL
pyOpenSSL
python-dotenv
pywin32
railroad
redis
Sphinx
thread
torch
tornado
trove_classifiers
urllib3_secure_extra
uvicorn
websockets
xmlrpclib
