clip
ConfigParser
deepface
docutils
fastapi
filelock
firebase_admin
geocoder
ipython
keyring
numpy
openai
opencv-python
pinecone[grpc]
protobuf
pydantic
pyOpenSSL
python-dotenv
torch
uvicorn
websockets
python-multipart
tf-keras
google-cloud-vision