deepface
opencv-python
tf-keras
geocoder
google-cloud-vision
google-api-core
google-cloud-storage
firebase-admin
python-multipart
python-dotenv
torch
pinecone[grpc]
scikit-learn
numpy
Pillow
openai
requests
uvicorn[standard]
fastapi
tensorflow
git+https://github.com/openai/CLIP.git@main  # Install CLIP from GitHub
