body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #311C67;
  color: #ffffff;
}
main {
  padding: 2rem;
}
input, button, label {
  font-size: 1rem;
}
button {
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #0056b3;
}
